src/about-project.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
            - $active = 1   
            //=include components/_about.menu.haml
            .container
                .row
                    .col-sm-12
                        .aboutBlock
                            .aboutBlock__title
                                Для чего создан Литературный проект «Pechorin.net»
                            %p.aboutBlock__text
                                Наша цель - максимальная популяризация творчества писателя. Мы работаем для того, чтобы талантливый, пишущий человек мог начать жить жизнью профессионального литератора, войти в литературный процесс, найти читателей, заработать себе имя. Команда Литературного проекта «Pechorin.net» собрала самую важную и актуальную информацию для писателей, поместив её в следующие разделы!
                        .aboutBlock
                            .aboutBlock__title
                                Литературные события
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser1.jpg", :srcset => "assets/pictures/safaribrowser1.jpg 1x, assets/pictures/safaribrowser1@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                Раздел 
                                %a.link.link-primary{:href => ""} «Литературные события» 
                                предлагает пользователям удобный Литературный календарь. 
                                Мы анонсируем все значимые литературные события, выделяя самые важные даты и мероприятия года, текущего месяца, сегодняшнего дня. Мы рассказываем о самых значимых и интересных событиях в современном литературном мире.
                        
                        .aboutBlock
                            .aboutBlock__title
                                Статьи
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser2.jpg", :srcset => "assets/pictures/safaribrowser2.jpg 1x, assets/pictures/safaribrowser2@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Статьи» 
                                писатель может найти последние литературные новости, ознакомиться с блогами о литературе, прочитать интервью с самыми интересными и значимыми литературными персонами, а также изучить подготовленные нашей командой обзоры основных литературных и книжных новинок. 
                        .aboutBlock
                            .aboutBlock__title
                                Конкурсы
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser3.jpg", :srcset => "assets/pictures/safaribrowser3.jpg 1x, assets/pictures/safaribrowser3@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Конкурсы» 
                                собрана вся актуальная информация по литературным конкурсам и премиям. 
                                На некоторые конкурсы работы можно направлять прямо с нашего портала. Мы предлагаем актуальный рейтинг литературных конкурсов и премий. А устроители конкурсов имеют возможность разместить у нас 
                                всю актуальную информацию по своему конкурсу или премии.
                        
                        .aboutBlock
                            .aboutBlock__title
                                Публикации
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser4.jpg", :srcset => "assets/pictures/safaribrowser4.jpg 1x, assets/pictures/safaribrowser4@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Публикации» 
                                собрана вся актуальная информация о возможностях публикации произведений – в печатных изданиях, в Интернет-изданиях, а также о прочих издательских проектах. Указаны основные условия публикации – требования редакций к рукописям, условия размещения произведений, наличие авторского гонорара. Некоторые издания предлагают отправить вашу рукопись напрямую через наш портал. Редакторы журналов и интернет-изданий имеют возможность разместить у нас всю актуальную информацию по своему изданию или издательскому проекту.
                        .aboutBlock
                            .aboutBlock__title
                                Услуги
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser5.jpg", :srcset => "assets/pictures/safaribrowser5.jpg 1x, assets/pictures/safaribrowser5@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Услуги»
                                предлагается различные полезные услуги для писателей. Здесь представлены и авторы, и редакторы, и корректоры, и переводчики, и художники-иллюстраторы, и дизайнеры и т.д. У нас вы можете получить рецензию на ваше произведение, письменный разбор, а также провести онлайн сессию с опытным литературным критиком, 
                                посвящённую разбору вашего произведения. 
                        .aboutBlock
                            .aboutBlock__title
                                Сообщество
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser6.jpg", :srcset => "assets/pictures/safaribrowser6.jpg 1x, assets/pictures/safaribrowser6@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Сообщество» 
                                вы можете создать свою персональную страницу и общаться с коллегами по перу, вести писательский дневник, стать участником профессиональной социальной сети в Интернете. Сообщество PECHORIN.NET проводит творческие встречи, литературно-музыкальные вечера, фотосессии современных писателей.
                        .aboutBlock
                            .aboutBlock__title
                                Полезное
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser7.jpg", :srcset => "assets/pictures/safaribrowser7.jpg 1x, assets/pictures/safaribrowser7@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Полезное» 
                                собраны ссылки на ресурсы для писателей: подбор синонимов, проверка орфографии, проверка текста на уникальность, онлайн библиотеки, подборки полезных книг для писателей, школы писательского мастерства и т.д.
                        .aboutBlock
                            .aboutBlock__title
                                А что в итоге?
                            %p.aboutBlock__text
                                А теперь всё зависит от вас и от вашего таланта! Мы постарались сделать всё удобно и полезно, расставить акценты, как нужно. 
                                Каждый день мы придумываем что-нибудь новое. И будем благодарны, если вы будете с нами или поможете нам!
                        .aboutControll
                            .aboutControll__item
                                %span Подписаться на новости: 
                                %form.subscribe{:action => ""}
                                    %input.subscribe__input{:type => "text", :placeholder => "Введите  e-mail"}/
                                    %buttom.btns.btns-default.subscribe__btns{:type => "submit"} 
                                        %i.icn-enter
                            .aboutControll__item
                                %span Направить предложение:
                                %a.btns.btns-block.btns-default{:href => ""} info@pechorin.net

                        
        //=include components/_footer.haml
    

dist/about-project.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Template</title>
	<link href="assets/ico/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="assets/ico/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="assets/ico/fav/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="assets/ico/ati/ati-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="assets/ico/ati/ati-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="assets/ico/ati/ati-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="assets/ico/ati/ati-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="assets/ico/ati/ati-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="assets/ico/ati/ati-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="assets/ico/ati/ati-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/ico/ati/ati-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="assets/css/libs.css" rel="stylesheet" type="text/css">
	<link href="assets/css/app.css" rel="stylesheet" type="text/css">
	<script src="assets/js/app.js" type="text/javascript"></script>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="mainMenu">
						<div class="mainMenu__btns js-menu">
							<i class="icn-bars"></i>
							<i class="icn-close"></i>
						</div>
						<nav class="mainMenu__nav">
							<i class="icn-close mainMenu__close js-closeMenu"></i>
							<ul class="menu">
								<li class="menu__item">
									<a href="">ГЛАВНАЯ</a>
								</li>
								<li class="menu__item">
									<a href="">СОБЫТИЯ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">СТАТЬИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item active">
									<a href="">КОНКУРСЫ</a>
									<ul class="subMenu">
										<li class="subMenu__item active">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">ПУБЛИКАЦИИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">УСЛУГИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">СООБЩЕСТВО</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">ПОЛЕЗНОЕ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">О НАС</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
						<div class="mainMenu__search js-search">
							<i class="icn-search"></i>
							<i class="icn-close"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainSearch">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<form action="">
							<div class="field-case">
								<input class="field field-with-icon" name="search" placeholder="" required="true" type="text">
								<i class="field-icon icn-search"></i>
							</div>
							<input class="btns btns-default" type="submit" value="Найти">
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="pageHead">
						<a class="logoBlock pageHead__logo" href="">
							<img alt="" class="logoBlock__img" src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x">
							<span class="logoBlock__text">
								<span>Pechorin.Net</span>
								<span>ЛИТЕРАТУРНЫЙ ПРОЕКТ</span>
							</span>
						</a>
						<div class="socIcons pageHead__soc">
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-facebook-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-vk-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-instagram-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-twitter-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-linkedin-cir"></i>
							</a>
						</div>
						<form action="" class="pageHead__subscribe subscribe">
							<input class="subscribe__input" placeholder="Подписаться на новости" type="text">
							<buttom class="btns btns-default subscribe__btns" type="submit">
								<i class="icn-enter"></i>
							</buttom>
						</form>
						<a class="btns btns-primary pageHead__btns" href="">вход</a>
						<a class="btns btns-primary pageHead__btns" href="">регистрация</a>
					</div>
				</div>
			</div>
		</div>
		<ul class="aboutMenu">
			<li class="active">
				<a href="">О проекте</a>
			</li>
			<li class="">
				<a href="">Персонажи</a>
			</li>
			<li class="">
				<a href="">Контакты</a>
			</li>
		</ul>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Для чего создан Литературный проект «Pechorin.net»
						</div>
						<p class="aboutBlock__text">
							Наша цель - максимальная популяризация творчества писателя. Мы работаем для того, чтобы талантливый, пишущий человек мог начать жить жизнью профессионального литератора, войти в литературный процесс, найти читателей, заработать себе имя. Команда Литературного проекта «Pechorin.net» собрала самую важную и актуальную информацию для писателей, поместив её в следующие разделы!
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Литературные события
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser1.jpg" srcset="assets/pictures/safaribrowser1.jpg 1x, assets/pictures/safaribrowser1@2x.jpg 2x">
						<p class="aboutBlock__text">
							Раздел
							<a class="link link-primary" href="">«Литературные события»</a>
							предлагает пользователям удобный Литературный календарь.
							Мы анонсируем все значимые литературные события, выделяя самые важные даты и мероприятия года, текущего месяца, сегодняшнего дня. Мы рассказываем о самых значимых и интересных событиях в современном литературном мире.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Статьи
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser2.jpg" srcset="assets/pictures/safaribrowser2.jpg 1x, assets/pictures/safaribrowser2@2x.jpg 2x">
						<p class="aboutBlock__text">
							В разделе
							<a class="link link-primary" href="">«Статьи»</a>
							писатель может найти последние литературные новости, ознакомиться с блогами о литературе, прочитать интервью с самыми интересными и значимыми литературными персонами, а также изучить подготовленные нашей командой обзоры основных литературных и книжных новинок.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Конкурсы
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser3.jpg" srcset="assets/pictures/safaribrowser3.jpg 1x, assets/pictures/safaribrowser3@2x.jpg 2x">
						<p class="aboutBlock__text">
							В разделе
							<a class="link link-primary" href="">«Конкурсы»</a>
							собрана вся актуальная информация по литературным конкурсам и премиям.
							На некоторые конкурсы работы можно направлять прямо с нашего портала. Мы предлагаем актуальный рейтинг литературных конкурсов и премий. А устроители конкурсов имеют возможность разместить у нас
							всю актуальную информацию по своему конкурсу или премии.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Публикации
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser4.jpg" srcset="assets/pictures/safaribrowser4.jpg 1x, assets/pictures/safaribrowser4@2x.jpg 2x">
						<p class="aboutBlock__text">
							В разделе
							<a class="link link-primary" href="">«Публикации»</a>
							собрана вся актуальная информация о возможностях публикации произведений – в печатных изданиях, в Интернет-изданиях, а также о прочих издательских проектах. Указаны основные условия публикации – требования редакций к рукописям, условия размещения произведений, наличие авторского гонорара. Некоторые издания предлагают отправить вашу рукопись напрямую через наш портал. Редакторы журналов и интернет-изданий имеют возможность разместить у нас всю актуальную информацию по своему изданию или издательскому проекту.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Услуги
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser5.jpg" srcset="assets/pictures/safaribrowser5.jpg 1x, assets/pictures/safaribrowser5@2x.jpg 2x">
						<p class="aboutBlock__text">
							В разделе
							<a class="link link-primary" href="">«Услуги»</a>
							предлагается различные полезные услуги для писателей. Здесь представлены и авторы, и редакторы, и корректоры, и переводчики, и художники-иллюстраторы, и дизайнеры и т.д. У нас вы можете получить рецензию на ваше произведение, письменный разбор, а также провести онлайн сессию с опытным литературным критиком,
							посвящённую разбору вашего произведения.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Сообщество
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser6.jpg" srcset="assets/pictures/safaribrowser6.jpg 1x, assets/pictures/safaribrowser6@2x.jpg 2x">
						<p class="aboutBlock__text">
							В разделе
							<a class="link link-primary" href="">«Сообщество»</a>
							вы можете создать свою персональную страницу и общаться с коллегами по перу, вести писательский дневник, стать участником профессиональной социальной сети в Интернете. Сообщество PECHORIN.NET проводит творческие встречи, литературно-музыкальные вечера, фотосессии современных писателей.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							Полезное
						</div>
						<img alt="" class="aboutBlock__img" src="assets/pictures/safaribrowser7.jpg" srcset="assets/pictures/safaribrowser7.jpg 1x, assets/pictures/safaribrowser7@2x.jpg 2x">
						<p class="aboutBlock__text">
							В разделе
							<a class="link link-primary" href="">«Полезное»</a>
							собраны ссылки на ресурсы для писателей: подбор синонимов, проверка орфографии, проверка текста на уникальность, онлайн библиотеки, подборки полезных книг для писателей, школы писательского мастерства и т.д.
						</p>
					</div>
					<div class="aboutBlock">
						<div class="aboutBlock__title">
							А что в итоге?
						</div>
						<p class="aboutBlock__text">
							А теперь всё зависит от вас и от вашего таланта! Мы постарались сделать всё удобно и полезно, расставить акценты, как нужно.
							Каждый день мы придумываем что-нибудь новое. И будем благодарны, если вы будете с нами или поможете нам!
						</p>
					</div>
					<div class="aboutControll">
						<div class="aboutControll__item">
							<span>Подписаться на новости:</span>
							<form action="" class="subscribe">
								<input class="subscribe__input" placeholder="Введите  e-mail" type="text">
								<buttom class="btns btns-default subscribe__btns" type="submit">
									<i class="icn-enter"></i>
								</buttom>
							</form>
						</div>
						<div class="aboutControll__item">
							<span>Направить предложение:</span>
							<a class="btns btns-block btns-default" href="">info@pechorin.net</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9">
					<ul class="footMenu">
						<li class="footMenu__item">
							<a href="">СОБЫТИЯ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">СТАТЬИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item active">
							<a href="">КОНКУРСЫ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item active">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">ПУБЛИКАЦИИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">УСЛУГИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">СООБЩЕСТВО</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">ПОЛЕЗНОЕ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">О НАС</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">РЕКЛАМА</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">РАЗМЕСТИТЬ ИНФОРМАЦИЮ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="footFeedback">
						<div class="footFeedback__title">ОБРАТНАЯ СВЯЗЬ</div>
						<a class="footFeedback__link" href="tel:8 800 000 0000">
							<i class="icn-phone"></i>
							8 800 000 0000
						</a>
						<a class="footFeedback__link" href="mailto:info@pechorin.net">
							<i class="icn-mail"></i>
							info@pechorin.net
						</a>
					</div>
					<p class="footCopy">
						© Pechorin.net 2019
						<br>
						Правила пользования
						<br>
						Политика конфиденциальности
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
