dist/about-char.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Template</title>
	<link href="assets/ico/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="assets/ico/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="assets/ico/fav/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="assets/ico/ati/ati-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="assets/ico/ati/ati-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="assets/ico/ati/ati-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="assets/ico/ati/ati-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="assets/ico/ati/ati-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="assets/ico/ati/ati-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="assets/ico/ati/ati-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/ico/ati/ati-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="assets/css/libs.css" rel="stylesheet" type="text/css">
	<link href="assets/css/app.css" rel="stylesheet" type="text/css">
	<script src="assets/js/app.js" type="text/javascript"></script>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="mainMenu">
						<div class="mainMenu__btns js-menu">
							<i class="icn-bars"></i>
							<i class="icn-close"></i>
						</div>
						<nav class="mainMenu__nav">
							<i class="icn-close mainMenu__close js-closeMenu"></i>
							<ul class="menu">
								<li class="menu__item">
									<a href="">ГЛАВНАЯ</a>
								</li>
								<li class="menu__item">
									<a href="">СОБЫТИЯ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">СТАТЬИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item active">
									<a href="">КОНКУРСЫ</a>
									<ul class="subMenu">
										<li class="subMenu__item active">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">ПУБЛИКАЦИИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">УСЛУГИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">СООБЩЕСТВО</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">ПОЛЕЗНОЕ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">О НАС</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
						<div class="mainMenu__search js-search">
							<i class="icn-search"></i>
							<i class="icn-close"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainSearch">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<form action="">
							<div class="field-case">
								<input class="field field-with-icon" name="search" placeholder="" required="true" type="text">
								<i class="field-icon icn-search"></i>
							</div>
							<input class="btns btns-default" type="submit" value="Найти">
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="pageHead">
						<a class="logoBlock pageHead__logo" href="">
							<img alt="" class="logoBlock__img" src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x">
							<span class="logoBlock__text">
								<span>Pechorin.Net</span>
								<span>ЛИТЕРАТУРНЫЙ ПРОЕКТ</span>
							</span>
						</a>
						<div class="socIcons pageHead__soc">
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-facebook-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-vk-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-instagram-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-twitter-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-linkedin-cir"></i>
							</a>
						</div>
						<form action="" class="pageHead__subscribe subscribe">
							<input class="subscribe__input" placeholder="Подписаться на новости" type="text">
							<buttom class="btns btns-default subscribe__btns" type="submit">
								<i class="icn-enter"></i>
							</buttom>
						</form>
						<a class="btns btns-primary pageHead__btns" href="">вход</a>
						<a class="btns btns-primary pageHead__btns" href="">регистрация</a>
					</div>
				</div>
			</div>
		</div>
		<ul class="aboutMenu">
			<li class="">
				<a href="">О проекте</a>
			</li>
			<li class="active">
				<a href="">Персонажи</a>
			</li>
			<li class="">
				<a href="">Контакты</a>
			</li>
		</ul>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="char">
						<div class="char__title">
							Кто создаёт художественный мир Pechorin.net?
						</div>
						<div class="charList">
							<div class="charList__item charItem">
								<a class="charItem__img" href="">
									<img alt="" src="assets/pictures/char1.jpg" srcset="assets/pictures/char1.jpg 1x, assets/pictures/char1@2x.jpg 2x">
								</a>
								<div class="charItem__content">
									<div class="charItem__pos">
										<span>Главный редактор</span>
									</div>
									<div class="charItem__name">Григорий Печорин</div>
									<p class="charItem__text">
										Молодой богатый дворянин, офицер. Вырос в блестящем обществе Петербурга. Несмотря на богатство, красоту и ум, глубоко несчастлив. Его ничего не интересует, ему скучно жить. Печорин не верит в дружбу и брак. Печорин – смелый и решительный мужчина. При этом он – эгоистичный, циничный, жестокий и хладнокровный человек.
									</p>
									<div class="charItem__links">
										<a class="link link-primary" href="">Статьи</a>
										<a class="link link-primary" href="">Услуги</a>
										<a class="link link-primary" href="">Страница</a>
									</div>
								</div>
							</div>
							<div class="charList__item charItem">
								<a class="charItem__img" href="">
									<img alt="" src="assets/pictures/char2.jpg" srcset="assets/pictures/char2.jpg 1x, assets/pictures/char2@2x.jpg 2x">
								</a>
								<div class="charItem__content">
									<div class="charItem__pos">
										<span>Главный редактор</span>
									</div>
									<div class="charItem__name">Максим Максимыч</div>
									<p class="charItem__text">
										Молодой богатый дворянин, офицер. Вырос в блестящем обществе Петербурга. Несмотря на богатство, красоту и ум, глубоко несчастлив. Его ничего не интересует, ему скучно жить. Печорин не верит в дружбу и брак. Печорин – смелый и решительный мужчина. При этом он – эгоистичный, циничный, жестокий и хладнокровный человек.
									</p>
									<div class="charItem__links">
										<a class="link link-primary" href="">Статьи</a>
										<a class="link link-primary" href="">Услуги</a>
										<a class="link link-primary" href="">Страница</a>
									</div>
								</div>
							</div>
							<div class="charList__item charItem">
								<a class="charItem__img" href="">
									<img alt="" src="assets/pictures/char3.jpg" srcset="assets/pictures/char3.jpg 1x, assets/pictures/char3@2x.jpg 2x">
								</a>
								<div class="charItem__content">
									<div class="charItem__pos">
										<span>Главный редактор</span>
									</div>
									<div class="charItem__name">Бэла</div>
									<p class="charItem__text">
										Молодой богатый дворянин, офицер. Вырос в блестящем обществе Петербурга. Несмотря на богатство, красоту и ум, глубоко несчастлив. Его ничего не интересует, ему скучно жить. Печорин не верит в дружбу и брак. Печорин – смелый и решительный мужчина. При этом он – эгоистичный, циничный, жестокий и хладнокровный человек.
									</p>
									<div class="charItem__links">
										<a class="link link-primary" href="">Статьи</a>
										<a class="link link-primary" href="">Услуги</a>
										<a class="link link-primary" href="">Страница</a>
									</div>
								</div>
							</div>
							<div class="charList__item charItem">
								<a class="charItem__img" href="">
									<img alt="" src="assets/pictures/char4.jpg" srcset="assets/pictures/char4.jpg 1x, assets/pictures/char4@2x.jpg 2x">
								</a>
								<div class="charItem__content">
									<div class="charItem__pos">
										<span>Главный редактор</span>
									</div>
									<div class="charItem__name">Княжна Мэри</div>
									<p class="charItem__text">
										Молодой богатый дворянин, офицер. Вырос в блестящем обществе Петербурга. Несмотря на богатство, красоту и ум, глубоко несчастлив. Его ничего не интересует, ему скучно жить. Печорин не верит в дружбу и брак. Печорин – смелый и решительный мужчина. При этом он – эгоистичный, циничный, жестокий и хладнокровный человек.
									</p>
									<div class="charItem__links">
										<a class="link link-primary" href="">Статьи</a>
										<a class="link link-primary" href="">Услуги</a>
										<a class="link link-primary" href="">Страница</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottomBar">
						<div class="row">
							<div class="col-md-8 col-lg-8">
								<a class="logoBlock bottomBar__logo" href="">
									<img alt="" class="logoBlock__img sm" src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x">
									<span class="logoBlock__text">
										<span>Pechorin.Net</span>
										<span>НОВОСТИ</span>
									</span>
								</a>
								<p class="bottomBar__text">
									<strong>Хотите стать автором Литературного проекта Pechorin.Net?</strong>
									<br>
									Тогда ознакомьтесь
									<a class="link link-default" href="">с основными требованиями</a>
									и
									<a class="link link-default" href="">списком тем</a>
									, интересующих редакцию.
									Присылайте свои статьи на наш адрес
									<a class="link link-primary" href="">info@pechorin.net</a>
									или любому из админов наших пабликов в соцсетях, приложив основную биографическую о себе, и, возможно, уже завтра мы предложим Вам сотрудничество.
								</p>
							</div>
							<div class="col-md-4 col-lg-3 offset-xl-1">
								<div class="subscribeBlock">
									<div class="subscribeBlock__title">
										Хочу быть в курсе последних интересных новостей и событий!
									</div>
									<form action="" class="subscribe subscribeBlock__form">
										<input class="subscribe__input" placeholder="Введите  e-mail" type="text">
										<buttom class="btns btns-default subscribe__btns" type="submit">
											<i class="icn-enter"></i>
										</buttom>
									</form>
									<div class="subscribeBlock__text">
										Подписываясь на рассылку, вы даете свое
										<br>
										<a href="">солгасие на обработку персональных данных,</a>
										<br>
										согласно политике конфиденциальности.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9">
					<ul class="footMenu">
						<li class="footMenu__item">
							<a href="">СОБЫТИЯ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">СТАТЬИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item active">
							<a href="">КОНКУРСЫ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item active">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">ПУБЛИКАЦИИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">УСЛУГИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">СООБЩЕСТВО</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">ПОЛЕЗНОЕ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">О НАС</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">РЕКЛАМА</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">РАЗМЕСТИТЬ ИНФОРМАЦИЮ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="footFeedback">
						<div class="footFeedback__title">ОБРАТНАЯ СВЯЗЬ</div>
						<a class="footFeedback__link" href="tel:8 800 000 0000">
							<i class="icn-phone"></i>
							8 800 000 0000
						</a>
						<a class="footFeedback__link" href="mailto:info@pechorin.net">
							<i class="icn-mail"></i>
							info@pechorin.net
						</a>
					</div>
					<p class="footCopy">
						© Pechorin.net 2019
						<br>
						Правила пользования
						<br>
						Политика конфиденциальности
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>

src/about-char.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
            - $active = 2  
            //=include components/_about.menu.haml
            .container
                .row
                    .col-sm-12
                        .char
                            .char__title
                                Кто создаёт художественный мир Pechorin.net?
                            .charList
                                - {"Григорий Печорин":"1","Максим Максимыч":"2","Бэла":"3","Княжна Мэри":"4"}.each do |i,j|
                                    .charList__item.charItem
                                        %a.charItem__img{:href => ""}
                                            %img{:src => "assets/pictures/char#{j}.jpg", :srcset => "assets/pictures/char#{j}.jpg 1x, assets/pictures/char#{j}@2x.jpg 2x", :alt => ""}/    
                                        .charItem__content
                                            .charItem__pos 
                                                %span Главный редактор
                                            .charItem__name #{i}

                                            %p.charItem__text
                                                Молодой богатый дворянин, офицер. Вырос в блестящем обществе Петербурга. Несмотря на богатство, красоту и ум, глубоко несчастлив. Его ничего не интересует, ему скучно жить. Печорин не верит в дружбу и брак. Печорин – смелый и решительный мужчина. При этом он – эгоистичный, циничный, жестокий и хладнокровный человек.
                                            .charItem__links
                                                %a.link.link-primary{:href => ""} Статьи
                                                %a.link.link-primary{:href => ""} Услуги
                                                %a.link.link-primary{:href => ""} Страница

                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    
