src/add-contest.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $breadCrumbs = {"Конкурсы":'1', "Добавить конкурс":'0'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml

                        .addContest
                            .addContest__title
                                Добавить конкурс:
                            %form#addContest{:action => ""}
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Имя
                                            %input.field{:type => "text", :name => "firstname", :placeholder => "Имя", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Фамилия
                                            %input.field{:type => "text", :name => "lastname", :placeholder => "Фамилия", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        .field-case
                                            %label.field-name E-mail
                                            %input.field{:type => "email", :name => "email", :placeholder => "E-mail", :required => "true", "data-msg-required" => "Это поле обязательно", "data-rule-emailv" => "true",  "data-msg-emailv" => "Введите действительный адрес электронной почты.", "data-msg-email" => "Введите действительный адрес электронной почты."}/
                                            %span.field-help    
                                .field-case
                                    %label.field-name Название конкурсного мероприятия:
                                    %input.field{:type => "text", :name => "title", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                    %span.field-help  
                                    %p.field-info
                                        * Конкурс, грантовая программа, фестиваль, премия
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Срок приёма работ:
                                            %input.field.field-with-icon-right.deadLine{:readonly => "", :type => "text", :name => "deadline", :value => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %i.field-icon.right.icn-calendar
                                            %span.field-help
                                %p.field-info
                                    * До какого числа не поздно принять участие? Выберите конкретную дату
                                .field-case
                                    %label.field-name Основная информация о конкурсе:
                                    %textarea.field{:name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}
                                    %span.field-help
                                    %p.field-info
                                        * Укажите основные сведения о вашем конкурсном мероприятии, включая информацию об организаторах, об основных требованиях к участникам, о номинациях, темах, этапах конкурса и др.
                                .field-case
                                    %label.field-name Контакты:
                                    %input.field{:type => "text", :name => "contact", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                    %span.field-help
                                .field-case
                                    %label.field-name Сайт конкурса:
                                    %input.field{:type => "text", :name => "url", :placeholder => "", "data-rule-url" => "true", "data-msg-url" => "Введите действительную ссылку"}/
                                    %span.field-help
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Введите символы с картинки
                                            %input.field{:type => "text", :name => "cptcha", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        %img.img-block{:src => "assets/pictures/captcha.jpg", :srcset => "assets/pictures/captcha.jpg 1x, assets/pictures/captcha@2x.jpg 2x", :alt => ""}/
                                        %br/
                                %input.btns.btns-primary{:type => "submit", :value => "Отправить информацию"}/
                            %p.addContest__text
                                Отправляя форму, вы соглашаетесь с нашими 
                                %a{:href => ""} правилами
                                и 
                                %br/ 
                                даёте свое 
                                %a{:href => ""} солгасие на обработку персональных данных, 
                                %br/
                                согласно политике конфиденциальности.


                            
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $vk = true
                        - $fb = true
                        //=include components/_sidebar.haml
                
        //=include components/_footer.haml
    

dist/add-contest.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Template</title>
	<link href="assets/ico/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="assets/ico/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="assets/ico/fav/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="assets/ico/ati/ati-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="assets/ico/ati/ati-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="assets/ico/ati/ati-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="assets/ico/ati/ati-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="assets/ico/ati/ati-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="assets/ico/ati/ati-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="assets/ico/ati/ati-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/ico/ati/ati-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="assets/css/libs.css" rel="stylesheet" type="text/css">
	<link href="assets/css/app.css" rel="stylesheet" type="text/css">
	<script src="assets/js/app.js" type="text/javascript"></script>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="mainMenu">
						<div class="mainMenu__btns js-menu">
							<i class="icn-bars"></i>
							<i class="icn-close"></i>
						</div>
						<nav class="mainMenu__nav">
							<i class="icn-close mainMenu__close js-closeMenu"></i>
							<ul class="menu">
								<li class="menu__item">
									<a href="">ГЛАВНАЯ</a>
								</li>
								<li class="menu__item">
									<a href="">СОБЫТИЯ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">СТАТЬИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item active">
									<a href="">КОНКУРСЫ</a>
									<ul class="subMenu">
										<li class="subMenu__item active">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">ПУБЛИКАЦИИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">УСЛУГИ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">СООБЩЕСТВО</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">ПОЛЕЗНОЕ</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a href="">О НАС</a>
									<ul class="subMenu">
										<li class="subMenu__item">
											<a href="">Писатель</a>
										</li>
										<li class="subMenu__item">
											<a href="">Творение</a>
										</li>
										<li class="subMenu__item">
											<a href="">Наука</a>
										</li>
										<li class="subMenu__item">
											<a href="">Литературный момент</a>
										</li>
										<li class="subMenu__item">
											<a href="">Конкурсы</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
						<div class="mainMenu__search js-search">
							<i class="icn-search"></i>
							<i class="icn-close"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainSearch">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<form action="">
							<div class="field-case">
								<input class="field field-with-icon" name="search" placeholder="" required="true" type="text">
								<i class="field-icon icn-search"></i>
							</div>
							<input class="btns btns-default" type="submit" value="Найти">
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="pageHead">
						<a class="logoBlock pageHead__logo" href="">
							<img alt="" class="logoBlock__img" src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x">
							<span class="logoBlock__text">
								<span>Pechorin.Net</span>
								<span>ЛИТЕРАТУРНЫЙ ПРОЕКТ</span>
							</span>
						</a>
						<div class="socIcons pageHead__soc">
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-facebook-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-vk-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-instagram-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-twitter-cir"></i>
							</a>
							<a class="socIcon socIcon-primary" href="">
								<i class="icn-linkedin-cir"></i>
							</a>
						</div>
						<form action="" class="pageHead__subscribe subscribe">
							<input class="subscribe__input" placeholder="Подписаться на новости" type="text">
							<buttom class="btns btns-default subscribe__btns" type="submit">
								<i class="icn-enter"></i>
							</buttom>
						</form>
						<a class="btns btns-primary pageHead__btns" href="">вход</a>
						<a class="btns btns-primary pageHead__btns" href="">регистрация</a>
					</div>
					<!-- / - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"} -->
					<div class="breadCrumbs">
						<div class="breadCrumbs__inner">
							<a href="">Конкурсы</a>
							<span>Добавить конкурс</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-xl-8">
					<div class="mainInfo">
						<div class="mainInfo__title">Основная информация о разделе</div>
						<p class="mainInfo__text">
							Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка.
						</p>
						<div class="socIcons socIcons-vertical mainInfo__icons">
							<a class="socIcon socIcon-default socIcon-sm" href="">
								<i class="icn-facebook-cir"></i>
							</a>
							<a class="socIcon socIcon-default socIcon-sm" href="">
								<i class="icn-vk-cir"></i>
							</a>
							<a class="socIcon socIcon-default socIcon-sm" href="">
								<i class="icn-instagram-cir"></i>
							</a>
							<a class="socIcon socIcon-default socIcon-sm" href="">
								<i class="icn-twitter-cir"></i>
							</a>
							<a class="socIcon socIcon-default socIcon-sm" href="">
								<i class="icn-linkedin-cir"></i>
							</a>
						</div>
					</div>
					<div class="addContest">
						<div class="addContest__title">
							Добавить конкурс:
						</div>
						<form action="" id="addContest">
							<div class="row">
								<div class="col-lg-4">
									<div class="field-case">
										<label class="field-name">Имя</label>
										<input class="field" data-msg-required="Это поле обязательно" name="firstname" placeholder="Имя" required="true" type="text">
										<span class="field-help"></span>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="field-case">
										<label class="field-name">Фамилия</label>
										<input class="field" data-msg-required="Это поле обязательно" name="lastname" placeholder="Фамилия" required="true" type="text">
										<span class="field-help"></span>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="field-case">
										<label class="field-name">E-mail</label>
										<input class="field" data-msg-email="Введите действительный адрес электронной почты." data-msg-emailv="Введите действительный адрес электронной почты." data-msg-required="Это поле обязательно" data-rule-emailv="true" name="email" placeholder="E-mail" required="true" type="email">
										<span class="field-help"></span>
									</div>
								</div>
							</div>
							<div class="field-case">
								<label class="field-name">Название конкурсного мероприятия:</label>
								<input class="field" data-msg-required="Это поле обязательно" name="title" placeholder="" required="true" type="text">
								<span class="field-help"></span>
								<p class="field-info">
									* Конкурс, грантовая программа, фестиваль, премия
								</p>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="field-case">
										<label class="field-name">Срок приёма работ:</label>
										<input class="field field-with-icon-right deadLine" data-msg-required="Это поле обязательно" name="deadline" readonly="" required="true" type="text" value="">
										<i class="field-icon right icn-calendar"></i>
										<span class="field-help"></span>
									</div>
								</div>
							</div>
							<p class="field-info">
								* До какого числа не поздно принять участие? Выберите конкретную дату
							</p>
							<div class="field-case">
								<label class="field-name">Основная информация о конкурсе:</label>
								<textarea class="field" data-msg-required="Это поле обязательно" name="msg" placeholder="" required="true"></textarea>
								<span class="field-help"></span>
								<p class="field-info">
									* Укажите основные сведения о вашем конкурсном мероприятии, включая информацию об организаторах, об основных требованиях к участникам, о номинациях, темах, этапах конкурса и др.
								</p>
							</div>
							<div class="field-case">
								<label class="field-name">Контакты:</label>
								<input class="field" data-msg-required="Это поле обязательно" name="contact" placeholder="" required="true" type="text">
								<span class="field-help"></span>
							</div>
							<div class="field-case">
								<label class="field-name">Сайт конкурса:</label>
								<input class="field" data-msg-url="Введите действительную ссылку" data-rule-url="true" name="url" placeholder="" type="text">
								<span class="field-help"></span>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="field-case">
										<label class="field-name">Введите символы с картинки</label>
										<input class="field" data-msg-required="Это поле обязательно" name="cptcha" placeholder="" required="true" type="text">
										<span class="field-help"></span>
									</div>
								</div>
								<div class="col-lg-4">
									<img alt="" class="img-block" src="assets/pictures/captcha.jpg" srcset="assets/pictures/captcha.jpg 1x, assets/pictures/captcha@2x.jpg 2x">
									<br>
								</div>
							</div>
							<input class="btns btns-primary" type="submit" value="Отправить информацию">
						</form>
						<p class="addContest__text">
							Отправляя форму, вы соглашаетесь с нашими
							<a href="">правилами</a>
							и
							<br>
							даёте свое
							<a href="">солгасие на обработку персональных данных,</a>
							<br>
							согласно политике конфиденциальности.
						</p>
					</div>
				</div>
				<div class="col-md-4 offset-xl-1 col-xl-3">
					<div class="sidebar">
						<div class="box sidebar__box">
							<a class="box__title" href=""># КОНКУРСЫ</a>
							<a class="box__img" href="">
								<img alt="" src="assets/pictures/box.jpg" srcset="assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x">
							</a>
							<p class="box__text">
								Стартовал новый сезон литературной премии «Национальный бестселлер»
							</p>
						</div>
						<div class="box sidebar__box">
							<a class="box__title" href=""># КОНКУРСЫ</a>
							<a class="box__img" href="">
								<img alt="" src="assets/pictures/box.jpg" srcset="assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x">
							</a>
							<p class="box__text">
								Стартовал новый сезон литературной премии «Национальный бестселлер»
							</p>
						</div>
						<div class="box sidebar__box">
							<a class="box__title" href=""># КОНКУРСЫ</a>
							<a class="box__img" href="">
								<img alt="" src="assets/pictures/box.jpg" srcset="assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x">
							</a>
							<p class="box__text">
								Стартовал новый сезон литературной премии «Национальный бестселлер»
							</p>
						</div>
						<img alt="" class="img-block" src="assets/pictures/vk.jpg" srcset="assets/pictures/vk.jpg 1x, assets/pictures/vk@2x.jpg 2x">
						<img alt="" class="img-block" src="assets/pictures/fb.jpg" srcset="assets/pictures/fb.jpg 1x, assets/pictures/fb@2x.jpg 2x">
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9">
					<ul class="footMenu">
						<li class="footMenu__item">
							<a href="">СОБЫТИЯ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">СТАТЬИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item active">
							<a href="">КОНКУРСЫ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item active">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">ПУБЛИКАЦИИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">УСЛУГИ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">СООБЩЕСТВО</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">ПОЛЕЗНОЕ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">О НАС</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">РЕКЛАМА</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
						<li class="footMenu__item">
							<a href="">РАЗМЕСТИТЬ ИНФОРМАЦИЮ</a>
							<ul class="footSubMenu">
								<li class="footSubMenu__item">
									<a href="">Писатель</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Творение</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Наука</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Литературный момент</a>
								</li>
								<li class="footSubMenu__item">
									<a href="">Конкурсы</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="footFeedback">
						<div class="footFeedback__title">ОБРАТНАЯ СВЯЗЬ</div>
						<a class="footFeedback__link" href="tel:8 800 000 0000">
							<i class="icn-phone"></i>
							8 800 000 0000
						</a>
						<a class="footFeedback__link" href="mailto:info@pechorin.net">
							<i class="icn-mail"></i>
							info@pechorin.net
						</a>
					</div>
					<p class="footCopy">
						© Pechorin.net 2019
						<br>
						Правила пользования
						<br>
						Политика конфиденциальности
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
